
body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 48rem;
    line-height: 1.45;
    padding: 0.5rem 0 1.6rem;
    box-shadow: 0 0 2rem 0 #bbb;
    border-radius: 0 0 0.6rem 0.6rem;
    color: #555;
}
main {
    padding: 0 1.4rem;
    hyphens: auto;
}


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    background: #17a;
}
nav li {
    list-style: none;
}
nav li * {
    display: block;
    padding: 0.4rem 0.4rem;
    color: white;
}
nav li strong {
    padding-left: 1.5rem;
    padding-right: 1rem;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    background: #069;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  color: #a7adba; 
}

pre {
    border-left: 2px solid #69c;
}
